body {
  margin: 0;
  font-family: "Helvetica Rounded", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* may be good to put all css files into css folder to keep things organized, then re-connect in component js file */
